<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Add user - Beyond Learning</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/style2.css}">
        <script src="https://kit.fontawesome.com/a076d05399.js"> </script>
		<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<style>
		body {
    		margin: 0;
    		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    		font-size: 1rem;
    		font-weight: 400;
   		 	line-height: 1.5;
   		 	color: #212529;
    		text-align: left;
    		background-color: #fff;
    		margin-top: -24px;
		}
		
		.h3, h3 {
   			margin-top: 20px;
    		font-size: 1.75rem;
		}
	</style>
</head>
<body>

<input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header>Bem Vindo <br><b>[[${#request.userPrincipal.principal.fullName}]]</b></header>
            <a th:href = "@{/showNewUsuariosForm}">
                <i class="fas fa-user-alt"></i>
                <span>Add User</span>  
            </a>
            <a th:href="@{/users}">
                <i class="fas fa-stream"></i>
                <span>Visão Geral</span>
            </a>
            <a href="#">
                <i class="fas fa-calendar"></i>
                <span>Eventos</span>
            </a>
            <a th:href = "@{/}">
                <i class="fas fa-sign-out-alt"></i>
                <span >Sair</span>
            </a>
        </div>
<header class="masthead">
	<div class="container text-center">
		<h2 class="text-white">Adicionar usuários</h2>
		<hr>
		

			<form th:action="@{/saveUsuarios}" th:object="${user}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					
					<div class="col-12">
						<input type="email" th:field="*{email}" placeholder="Email"
							class="form-control" required />
					</div>
				</div>

				<div class="form-group row">
					
					<div class="col-12">
						<input type="password" th:field="*{password}" placeholder="Senha"
							class="form-control" required minlength="6" maxlength="10" />
					</div>
				</div>

				<div class="form-group row">
					
					<div class="col-12">
						<input type="text" th:field="*{firstName}"
							placeholder="Primeiro nome" class="form-control" required
							minlength="2" maxlength="20" />
					</div>
				</div>

				<div class="form-group row">
					
					<div class="col-12">
						<input type="text" th:field="*{lastName}"
							placeholder="Ultimo nome" class="form-control" required
							minlength="4" maxlength="20" />
					</div>
				</div>

				<div class="form-group row">
					
					<div class="col-12">
						<input type="text" th:field="*{cpf}" placeholder="CPF"
							class="form-control" required minlength="11" maxlength="15" />
					</div>
				</div>

				<div class="form-group row">
					
					<div class="col-12">
						<input type="text" th:field="*{telefone}" placeholder="Telefone"
							class="form-control" required minlength="10" maxlength="20" />
					</div>
				</div>
				<button type="submit" class="btn btn-info col-4" style="background-color:#87ceeb;">Salvar dados</button>
			
			</div>
			</form>

			<hr>
		
		
	</div>
</header>
<footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Beyond Learning</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
</body>

</html>