<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Update Course - Beyond Learning</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/style2.css}">
        <script src="https://kit.fontawesome.com/a076d05399.js"> </script>
		<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<style>
		body {
    		margin: 0;
    		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    		font-size: 1rem;
    		font-weight: 400;
   		 	line-height: 1.5;
   		 	color: #212529;
    		text-align: left;
    		background-color: #fff;
    		margin-top: -24px;
		}
		
		.h3, h3 {
   			margin-top: 20px;
    		font-size: 1.75rem;
		}
	</style>
</head>
<input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header><h3>Welcome</h3><b>[[${#request.userPrincipal.principal.fullName}]]</b></header>
            <a th:href = "@{/index}">
                <i class="fas fa-home"></i>
                <span >Home</span>
            </a>        
            <a th:href = "@{/showNewUsuariosForm}">
                <i class="fas fa-user-alt"></i>
                <span>Add User</span>  
            </a>
            <a th:href="@{/users}">
                <i class="fas fa-stream"></i>
                <span>List Users</span>
            </a>
           <a th:href = "@{/showNewCursoForm}">
                <i class="far fa-plus-square"></i>
                <span>Add Courses</span>  
            </a>
            <a th:href = "@{/cursos}">
                <i class="fas fa-stream"></i>
                <span>List Courses</span>
            </a>
            <a th:href = "@{/menu_cursos}">
                <i class="fas fa-book-open"></i>
                <span>Catalog</span>
            </a>
            <a th:href = "@{/upload}">
                <i class="fas fa-cloud-upload-alt"></i>
                <span>Upload</span>
            </a>
            <a th:href="@{/calendar}">
                <i class="fas fa-calendar"></i>
                <span>Calendar</span>
            </a>
            <a th:href = "@{/logout}">
                <i class="fas fa-sign-out-alt"></i>
                <span >Logout</span>
            </a>
        </div>
<body>
<header class="masthead">


	<div class="container text-center">
	
		<h2 class="text-white">Atualizar Dados do Curso</h2>
		<hr>
		
	<center>
		<form action="#" th:action="@{/saveCurso}" th:object="${curso}"
			method="POST">
			
			<!-- Adiciona um campo invisível pra lidar com o update -->
			<input type = "hidden" th:field="*{id}" />
			
			<input type="text"
				th:field="*{categoria}" placeholder="Categoria do Curso"
				class="form-control mb-4 col-5"> <input type="text"
				th:field="*{descricao}" placeholder="Descrição do Curso"
				class="form-control mb-4 col-5"> <input type="text"
				th:field="*{nomecurso}" placeholder="Nome do Curso"
				class="form-control mb-4 col-5">


			<button type="submit" class="btn btn-info col-2" style="background-color:#87ceeb; border:none; margin:5px;">Salvar Dados</button>
		</form>
		
		<hr>
		</center>
		
	</div>
	
</header>	
</body>
</html>