<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Bem Vindo <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<a th:href = "@{/showNewUsuariosForm}" class = "btn btn-primary btn-sm mb-3"> Adicionar Usuario </a>
			<input type="submit" class = "btn btn-primary btn-sm mb-3" value="Sair" />
			<a th:href = "@{/}" class = "btn btn-primary btn-sm mb-3"> Voltar</a>
		</form>
	</div>
	<div>
		<h1>Lista de Usuários</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>ID do Usuário</th>
					<th>E-mail</th>
					<th>Primeiro Nome</th>
					<th>Sobrenome</th>
					<th>CPF</th>
					<th>Telefone</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${listUsers}">
					<td th:text="${user.id}">ID do Usuário</td>
					<td th:text="${user.email}">E-mail</td>
					<td th:text="${user.firstName}">Primeiro Nome</td>
					<td th:text="${user.lastName}">Sobrenome</td>
					<td th:text="${user.cpf}">CPF</td>
					<td th:text="${user.telefone}">Telefone</td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-primary">Atualizar</a>
						<a th:href="@{/deleteUsuarios/{id}(id=${user.id})}" class="btn btn-danger">Deletar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>