<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="modelo/template :: head">
</head>
<body>
	<header th:replace="modelo/template :: header"></header>

	<div class="container">


		<div class="card bg-light"></div>
		<div class="card-header bg-dark text-white" th:text="${titulo}">
			<div class="card-body">

				<form th:object="${usuario}">
					<div class="form-group row">
						<label class="col-md-2" for="nome">Nomes</label> <input
							type="text" th:field="*{nome}" class="form-control-sm col-md-6"
							id="nome" placeholder="Nome do Usuario">

					</div>

					<div class="form-group row">
						<label class="col-md-2" for="cpf">CPF</label> <input type="text"
							th:field="*{cpf}" class="form-control-sm col-md-6" id="cpf"
							placeholder="CPF do Usuario">

					</div>

					<div class="form-group row">
						<label class="col-md-2" for="email">Email</label> <input
							type="text" th:field="*{email}" class="form-control-sm col-md-6"
							id="email" placeholder="Email do Usuario">

					</div>

					<div class="form-group row">
						<label class="col-md-2" for="nivel">Nivel</label> <input
							type="text" th:field="*{nivel}" class="form-control-sm col-md-6"
							id="nivel" placeholder="Nivel do Usuario">

						<div id="nomeHelp" class="form-text">Nunca iremos
							compartilhar seus dados.</div>

					</div>

					<div class="form-group row">
						<label class="col-md-2" for="telefone">Telefone</label> <input
							type="text" th:field="*{telefone}"
							class="form-control-sm col-md-6" id="telefone"
							placeholder="Telefone do Usuario">

					</div>

					<div class="form-group row">
						<label class="col-md-2" for="cursos">Cursos</label> <select
							th:field="*{cursos}" class="form-control-sm col-md-6" id="cursos">
							<option th:each="cursos:${cursos}" th:value="${cursos.id}"
								th:text="${cursos.cursos}" />
						</select>
					</div>

					<div class="card-footer bg-black">
						<input type="submit" class="btn btn-primary btn-sm" value="Salvar" />
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="modelo/template :: footer"></footer>
</body>
</html>